{% extends "other_base.html" %}
{% load static wagtailcore_tags  wagtailimages_tags wagtailembeds_tags %} 

{% block body_class %}template-homepage{% endblock %}
{% block extra_css %}

{% endblock extra_css %} 

{% block content %}
    <!-- ======= About Us Section ======= -->
    <section id="about-us" class="about-us" style="margin-top: 70px;">
      <div class="container">
        <div class="row no-gutters">
          {% image self.featured_image original as featured_image %}
          <div style="background: url('{{ featured_image.url }}') center center no-repeat;
            background-size: cover;
            min-height: 400px;" 
            class="col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-right">
          </div>
          <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch">
            <div class="content d-flex flex-column justify-content-center">
              <h3 data-aos="fade-up">{{ self.title }}</h3>
              <p data-aos="fade-up">
                {{self.body_heading|richtext}}
              </p>
              <div class="row">
                <div class="col-md-6 icon-box" data-aos="fade-up">
                  <i class="bx bx-images"></i>
                  <h4>Corporis voluptates sit</h4>
                  <p>{{ self.body_1|richtext }}</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-receipt"></i>
                  <h4>Ullamco laboris nisi</h4>
                  <p>{{ self.body_2|richtext }}</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="bi bi-bullseye"></i>
                  <h4>Labore consequatur</h4>
                  <p>{{ self.body_3|richtext }}</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="bx bx-shield"></i>
                  <h4>Beatae veritatis</h4>
                  <p>{{ self.body_4|richtext}}</p>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>
      </div>
    </section><!-- End About Us Section -->

<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Frequently Asked Questions</h2>
    </div>
    <div class="faq-list">
      <ul>
        {% for faq in page.faqs.all %}
        <li data-aos="fade-up">
          <i class="bx bx-help-circle icon-help"></i> 
            <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">{{ faq.question }} <i class="bx bx-chevron-down icon-show"></i>
              <i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
            <p>{{ faq.answer|richtext }} </p>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>


{% endblock %}

{% block extra_js %}

{% endblock %}